h1 {

    display: inline;

    position: relative;

    font: 200px "Raleway", Sans-Serif;

    letter-spacing: -5px;

    color: rgba(0,0,255,0.5); 

}

h2 {
    display: inline;

    position: relative;

    font: 80px "Raleway", Sans-Serif;

    letter-spacing: -5px;

    color: rgba(0,0,255,0.5); 
}

.Name {
    text-transform: capitalize;
}

p {
    font: "Raleway", Sans-Serif;
}

footer {
  position: absolute;
  font-size: 30px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  text-align: center;
}

h1:after {

    content: "Hi There!";

    position: absolute; 

    left: 10px; top: 5px;

    color: rgba(255,0,0,0.5);   

}

