
{% extends 'base.html' %}

    {% block content %}
    <h2>Play Madlibs with us!</h2>
    <form action="/madlib">
        <input class="form-control" placeholder="Person" type="text" name="person"><br>
        <input class="form-control" placeholder="Color" type="text" name="color"><br>
        <input class="form-control" placeholder="Noun" type="text" name="noun"><br>
        <input class="form-control" placeholder="Adjective" type="text" name="adjective"><br>
        <input class="btn btn-default" type="submit">
    </form>
    {% endblock %}
