
{% extends 'base.html'%}
{% block content %}
    <h2>Play Madlibs with us!</h2>
   <p> {{ noun }} kernel release {{ color }}.{{ color }}.{{ color }}
   
       These are the release {{ noun }} for {{ noun }} version {{ color }}.{{ color }}.
       {{ color }}. {{ adjective }} them {{ color }}, as they tell you what this 
       is all about, tell how to {{ noun }} the {{ noun }}, and what to do if 
       something goes wrong.</p>
    <a href="/greet?person=&game=True">Re-do input</a>

{% endblock %}